*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body{
    background-color: aqua;
    padding-top:200px;
    padding-left:800px;
}


.cup{
    height: 500px;
    width: 500px;
    background-color: blanchedalmond;
    border-radius: 5%;
}

.ruchka{
    height: 250px;
    width: 200px;
    background-color: blanchedalmond;
    position:absolute;
    margin-left: 470px;
    margin-top: 230px;
    border-radius: 5%;
}

.block{
    height: 200px;
    width: 100px;
    background-color: aqua;
    position: absolute;
    margin-top: 20px;
    margin-left: 40px;
}

.steam {
    position: absolute;
    top: 12%;
    left: 34%;
    width: 460px;
    height: 50px;
    border-radius: 5%;
    background: rgba(255, 255, 255, 0.7);
    animation: steam 2s infinite ease-in;
}

@keyframes steam {
    0% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
    100% {
        transform: translateY(-30px) scale(1.5);
        opacity: 0;
    }

}
